.why-choose-us .why-choose-us-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: {
    image: asset_url("question.jpg");
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}