.add-to-cart {
  input {
    height: 47px;
    width: 92px;
  }
}
.btn-plus {
  border-radius: 0px 15px 15px 0px;
  width: 52px;
  height: 47px;
}
.btn-minus {
  border-radius: 15px 0px 0px 15px;
  width: 52px;
  height: 47px;
}