<section class="path">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
      </div>
      <div class="col-md-3">
        <!-- Example single danger button -->
        <div class="btn-group" style="float: right">
          <button type="button" class="btn btn-warning dropdown-toggle px-3" data-toggle="dropdown">Phân loại</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Giá từ thấp đến cao</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Giá từ cap đến thấp</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đặc sản yêu thích</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section path -->
<!-- section shop-menu -->
<section class="shop-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-3 menu-left">
        <div class="type-of-fruits">
          <h2 class="titlte border-bottom"><%= t('.area') %></h2>
          <div class="list-item p-4">
            <ul>
              <% Region.all.each do |region| %>
                <li>
                  <%= link_to region.name, shopping_path(region: region.id) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <%= render 'products' %>
    </div>
  </div>
</section>
<!-- end section shop menu -->
<!-- Modal -->
<div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToCartModalLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Thêm vào giỏ hàng thành công
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  function increment(id) {
     document.getElementById('demoInput' + id).stepUp();
  }
  function decrement(id) {
     document.getElementById('demoInput' + id).stepDown();
  }
  function addToCart(id) {
    var quantity = $('#demoInput' + id).val()
    $.ajax({
      type: "POST",
      url: '/shopping',
      data: {
        item_id:  id,
        quantity: quantity
      },
      dataType: 'script'
    });
  }
</script>