
<!-- section about us -->
<section class="about-us">
  <div class="container p-5">
    <div class="title text-center">
      <h1>Về chúng tôi</h1>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-12">
          <p>Mô hình nông - lâm kết hợp của Tyne Giang là dự án đầu tiên của Việt Nam đạt thứ hạng cao nhất trong “100 dự án chống biến đổi khí hậu” của Bộ Môi trường, Năng lượng và Biển. Pháp tổ chức năm 2016 ...
          </p>
        </div>
        <div class="col-12">
          <p>Mô hình nông - lâm kết hợp của Tyne Giang là dự án đầu tiên của Việt Nam đạt thứ hạng cao nhất trong “100 dự án chống biến đổi khí hậu” của Bộ Môi trường, Năng lượng và Biển. Pháp tổ chức năm 2016 ...
          </p>
        </div>
        <div class="col-12">
          <p>Mô hình nông - lâm kết hợp của Tyne Giang là dự án đầu tiên của Việt Nam đạt thứ hạng cao nhất trong “100 dự án chống biến đổi khí hậu” của Bộ Môi trường, Năng lượng và Biển. Pháp tổ chức năm 2016 ...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section about us -->
<!-- section why choose us -->
<section class="why-choose-us py-5">
  <div class="container text-center">
    <div class="title my-5">
      <h1>Tại sao lại chọn chúng tôi</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="icon"><i class="fas fa-child"></i></div>
            <div class="title">Khỏe mạnh</div>
            <div class="subtitle">Entropy thông tin là một khái niệm mở rộng của entropy trong nhiệt động lực học và cơ học thống kê sang cho lý thuyết thông tin.</div>
          </div>
          <div class="col-md-6">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <div class="title">Sức khỏe</div>
            <div class="subtitle">Entropy thông tin là một khái niệm mở rộng của entropy trong nhiệt động lực học và cơ học thống kê sang cho lý thuyết thông tin.</div>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-md-6">
            <div class="icon"><i class="far fa-lemon"></i></div>
            <div class="title">Rau củ</div>
            <div class="subtitle">Entropy thông tin là một khái niệm mở rộng của entropy trong nhiệt động lực học và cơ học thống kê sang cho lý thuyết thông tin.</div>
          </div>
          <div class="col-md-6">
            <div class="icon"><i class="fas fa-seedling"></i></div>
            <div class="title">Trái cây</div>
            <div class="subtitle">Entropy thông tin là một khái niệm mở rộng của entropy trong nhiệt động lực học và cơ học thống kê sang cho lý thuyết thông tin.</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="why-choose-us-img"></div>
      </div>
    </div>
  </div>
</section>
<!-- end section why choose us -->
