
<!-- section about us -->
<section class="about-us">
  <div class="container p-5">
    <div class="title text-center">
      <h1>Sơ lược</h1>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-12">
          <p>Từ năm 2015 tới nay nhu cầu sử dụng hàng đặc sản ngày càng được quan tâm và sử dụng nhiều, được sử dụng như 1 sản phẩm hàng ngày thay vì sử dụng như một món quà như ngày xưa.</p>
        </div>
        <div class="col-12">
          <p>Tuy nhiên sau thời gian làm việc, nhận ra thị trường hàng đặc sản còn khó tiếp cận, chưa có nhiều doanh nghiệp hoặc công ty tổ chức hỗ trợ người dân phát triển mặt hàng lợi thế tại địa phương đó và việc đảm bảo chất lượng cho hàng đặc sản chưa đáp ứng được nhu cầu của khách hàng.</p>
        </div>
        <div class="col-12">
          <p>DacSanVietNam được thành lập bởi nhóm các sinh viên Bách Khoa - Khoa Khoa Học Và Kỹ Thuật Máy Tính vào năm 2022 tại TP. Hồ Chí Minh. Hiện nay, DacSanVietNam là thương hiệu chuyên cung cấp sản phẩm đặc sản chế biến chất lượng cao, an toàn, tin cậy, phải chăng, đẹp mắt, hài lòng từ khắp cả 63 tỉnh thành trên cả nước.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section about us -->
<!-- section why choose us -->
<section class="why-choose-us py-5">
  <div class="container text-center">
    <div class="title my-5">
      <h1>Tại sao lại chọn chúng tôi</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="icon"><i class="fas fa-child"></i></div>
            <div class="title">Sứ mệnh</div>
            <p class="subtitle">DacSanVietNam luôn làm việc chăm chỉ mỗi ngày để tạo ra những sản phẩm đặc sản uy tín, chất lượng cao, tốt cho sức khoẻ, hậu mãi hài lòng để cung cấp cho khách hàng.</p>
            <p>Chúng tôi luôn mang trong mình khát vọng có thể giới thiệu cho toàn Thế Giới những sản phẩm tốt như vậy từ quê hương mình.</p>
          </div>
          <div class="col-md-6">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <div class="title">Niềm tin</div>
            <p class="subtitle">DacSanVietNam mong muốn đưa đặc sản trở thành một phần có nghĩa và hợp lý trong cuộc sống bận rộn hàng ngày. Chúng tôi tin rằng DacSanVietNam luôn  mang trong mình giá trị vô cùng to lớn.</p>
            <p>Tuy vậy, khai thác được giá trị đó là một thách thức rất lớn. Chúng ta cần phải làm việc chăm chỉ hơn nữa, sáng tạo hơn nữa để có thể đưa nông sản trở thành một phần có nghĩa và hợp lý với cuộc sống hàng ngày đầy bận rộn của con người.</p>
          </div>
        </div>
        <%# <div class="row my-5">
          <div class="col-md-6">
            <div class="icon"><i class="far fa-lemon"></i></div>
            <div class="title">Rau củ</div>
            <div class="subtitle">Entropy thông tin là một khái niệm mở rộng của entropy trong nhiệt động lực học và cơ học thống kê sang cho lý thuyết thông tin.</div>
          </div>
          <div class="col-md-6">
            <div class="icon"><i class="fas fa-seedling"></i></div>
            <div class="title">Trái cây</div>
            <div class="subtitle">Entropy thông tin là một khái niệm mở rộng của entropy trong nhiệt động lực học và cơ học thống kê sang cho lý thuyết thông tin.</div>
          </div>
        </div> %>
      </div>
      <div class="col-md-6">
        <div class="why-choose-us-img"></div>
      </div>
    </div>
  </div>
</section>
<!-- end section why choose us -->
