<section class="container">
  <div class="row mb-5">
    <div class="col-12 col-xl-8">
      <h5 class="font-weight-bold">Chi tiết thanh toán</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Họ và tên</label>
            <input type="text" class="form-control" value="<%= current_customer.real_name %>">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Số điện thoại</label>
            <input type="text" class="form-control" value="<%= current_customer.phone %>">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Email</label>
            <input disabled type="text" class="form-control" value="<%= current_customer.email %>">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Tổng hóa đơn</label>
            <input disabled type="text" class="form-control" value="<%= number_with_delimiter(session[:total]) %> vnd">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Tỉnh / Thành phố </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Quận / Huyện</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Địa chỉ cụ thể</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4">
      <div class="cart_totals">
        <div class="table-responsive">
          <h5 class="font-weight-bold">Phương thức thanh toán</h5>
          <div class="ul-css m-0">
            <ul class="m-0 ml-3">
              <div>
                <input type="radio" name="thanhtoan" checked="checked">
                <label for="payment_method_bacs"> COD </label>
              </div>
              <input type="radio" name="thanhtoan" >
              <label for="payment_method_bacs"> Chuyển khoản ngân hàng </label>
              <div>
                <p>Thực hiện thanh toán của bạn trực tiếp vào tài khoản ngân hàng của chúng tôi. Vui lòng sử dụng ID đơn đặt hàng của bạn làm tham chiếu thanh toán. Đơn đặt hàng của bạn sẽ không được chuyển cho đến khi tiền đã gửi
                  trong tài khoản của chúng tôi.</p>
              </div>
              <button> <a href="#" class="btn btn-add2cart"> Đặt hàng</a> </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
