<section class="container">
  <div class="row mb-5">
    <div class="col-12 col-xl-8">
      <h5 class="font-weight-bold">Chi tiết thanh toán</h5>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">Họ và tên</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Tỉnh / Thành phố </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Quận / Huyện </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Mã vận chuyển </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Số điện thoại</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">Email </label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4">
      <div class="cart_totals">
        <div class="table-responsive">
          <table class="table table-borderless mb-0">
            <tbody>
              <tr>
                <td>Tổng giá sản phẩm</td>
                <td class="text-right">217.000VNĐ</td>
              </tr>
              <tr>
                <td>
                  <h5>Giao hàng giá rẻ</h5>
                </td>
                <td class="text-right">21.000VNĐ</td>
              </tr>
              <tr>
                <td>
                  <h5>Tổng thanh toán</h5>
                </td>
                <td class="text-right">238.000VNĐ</td>
              </tr>
            </tbody>
          </table>
          <div class="ul-css m-0">
            <ul class="m-0 ml-3">
              <input type="radio" name="thanhtoan" checked="checked">
              <label for="payment_method_bacs"> Chuyển khoản ngân hàng </label>
              <div>
                <p>Thực hiện thanh toán của bạn trực tiếp vào tài khoản ngân hàng của chúng tôi. Vui lòng sử dụng ID đơn đặt hàng của bạn làm tham chiếu thanh toán. Đơn đặt hàng của bạn sẽ không được chuyển cho đến khi tiền đã hết
                  trong tài khoản của chúng tôi.</p>
              </div>
              <button> <a href="#" class="btn cart w-100"> Đặt hàng</a> </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
