
<!-- section map -->
<section class="map">
  <div class="container-fluid">
    <iframe class="location w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.5562446044946!2d106.65855386847525!3d10.773437489394041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec3c161a3fb%3A0xef77cd47a1cc691e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6FjaCBraG9hIC0gxJDhuqFpIGjhu41jIFF14buRYyBnaWEgVFAuSENN!5e0!3m2!1svi!2s!4v1619931859137!5m2!1svi!2s"
          style="border:0; height: 100vh" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>
<!-- end section map -->
<!-- section infor -->
<section class="infor my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
        <div class="content">268 Lý Thường Kiệt P14 quận 10 tpHCM</div>
      </div>
      <div class="col-md-4 text-center">
        <p class="phone"><i class="fas fa-phone mr-20px"></i><%= t('.telephone') %>: +84 1234568789</p>
        <a href="mailto:dacsanvietnamheroku@gmail.com" style= "text-decoration: none;">
          <p class="email"><i class="fas fa-envelope mr-20px"></i>Email: <span>dacsanvietnamheroku@gmail.com</span></p>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <div class="icon"><i class="far fa-clock"></i></div>
        <div class="content">
          <div class="week-day">Week Days : 8:00 – 22:00</div>
          <div class="sunday">Sunday : Close</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section infor -->
<!-- section leave message -->
<section class="leave-message">
  <div class="container text-center">
    <div class="title">Để lại lời nhắn</div>
    <div class="subtitle mt-2 mb-5">Nhân viên chúng tôi sẽ gọi lại và trả lời câu hỏi sớm nhất cho bạn</div>
    <form>
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="input-message-name form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="col-md-6">
          <input class="input-message-email form-control" type="text" name="email" placeholder="Email">
        </div>
      </div>
      <textarea class="textarea-message-content form-control my-3" name="content" cols="30" rows="10" placeholder="Your message"></textarea>
      <div class="btn btn-warning py-2 px-4 mb-5">Submit</div>
    </form>
  </div>
</section>
<!-- end section leave message  -->
