<div class="card">
  <div class="card-header p-10px text-end">
    <button type="button" class="btn btn-yellow btn-save">Create</button>
  </div>
  <div class="admin-form-body">
    <%= render 'form_create', url: admins_admins_path, method: :POST %>
  </div>
</div>
<script type="text/javascript">
  $('.btn-save').click(function(){
    $("#button-submit").click()
  })
</script>